.page {
    background: linear-gradient(180deg, #210e3e 0%, #452b76 35.06%, #36127e 71.06%, #261247 86.49%);
}
.wave_bg {
    position: absolute;
    width: 100%;
    height: 85vh;
    object-fit: cover;
    opacity: 1;
    top: 0;
    mix-blend-mode: lighten;
}
.sec1 {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .float_dragon {
        position: absolute;
        height: 500px;
        right: -9%;
        top: 120px;
    }

    .float_egg {
        position: absolute;
        height: 114px;
        left: 2%;
        box-sizing: border-box;
        margin-top: 160px;
    }

    .float_fan {
        position: absolute;
        height: 281px;
        left: -6%;
        box-sizing: border-box;
        margin-top: 436px;
    }

    .float_heroLogo {
        margin-top: 150px;
        width: 696px;
    }

    .subTitle {
        display: flex;
        flex-direction: column;
        color: var(--primary);
        align-items: center;
        margin-top: 50px;

        h3 {
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 22px;
            font-weight: bold;
        }

        p {
            width: 580px;
            text-align: center;
            margin-top: 32px;
            font-size: 20px;
            font-family: primary-font;
            font-weight: 300;
            line-height: 27px;
        }

        button {
            margin-top: 50px;
            font-weight: 600;
            width: 262px;
            height: 70px;
            background: var(--primary);
            border-radius: 4px;
            font-size: 18px;
            color: var(--secondary);
            border: none;
            box-shadow: 2.5px 3px 1px rgb(173, 173, 173);
            margin-bottom: 50px;
        }
    }

    //Tablet 1260

    @media (max-width: 1260px) {
        .float_heroLogo {
            width: 467.5px;
        }

        .float_egg {
            height: 66px;
        }

        .float_fan {
            height: 170px;
        }

        .float_dragon {
            height: 330px;
            right: -125px;
            transform: rotate(10deg);
        }

        .subTitle {
            h3 {
                font-size: 16px;
            }
            p {
                font-size: 14px;
                width: 424px;
            }
        }
    }

    // phone 770
    @media (max-width: 750px) {
        .float_heroLogo {
            width: 270px;
        }

        .float_egg {
            height: 80px;
            top: -8%;
            margin-left: -15%;
        }

        .float_fan {
            height: 170px;
            top: 10%;
            left: -40%;
        }

        .float_dragon {
            height: 280px;
            right: -115px;
            top: 8%;
            transform: rotate(10deg);
        }

        .subTitle {
            h3 {
                font-size: 14px;
                line-height: 170%;
            }
            p {
                font-size: 12px;
                width: 290px;
            }
        }
        .subTitle {
            button {
                width: 219px;
                height: 59.35px;
                font-size: 15.0458px;
            }
        }
    }
}

.sec2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .statRow {
        display: flex;
        margin-top: 134px;
    }

    .stat {
        color: var(--primary);
        margin: 0 60px;
        p {
            margin: 0;
            font-weight: bold;
            letter-spacing: 3px;
        }
        h1 {
            font-weight: 900;
            font-size: 120px;
            margin: 0;
            margin-top: 12px;
        }
        h4 {
            margin: 0;
            font-weight: 900;
            font-size: 32px;
        }
    }

    .nftSlider {
        width: 100%;
        margin-top: 105px;
        overflow: hidden;
        .nftCoinRow1,
        .nftCoinRow2 {
            display: flex;
            overflow: hidden;
            overflow-x: hidden;
            width: fit-content;

            &::-webkit-scrollbar {
                width: 0; /* Remove scrollbar space */
                background: transparent; /* Optional: just make scrollbar invisible */
            }
        }

        .nftCoinRow1 {
            margin-left: -100px;
            margin-bottom: 32px;
            justify-content: left;
            // .coin {
            //     animation: slide 50s linear alternate infinite;
            //     -webkit-animation: slide 50s linear alternate infinite;
            // }
        }

        .nftCoinRow2 {
            // .coin {
            //     animation: slide-rev 50s linear alternate infinite;
            //     -webkit-animation: slide-rev 50s linear alternate infinite;
            // }
        }

        #last_r1 {
            //border: 4px solid red;
        }

        // @keyframes slide {
        //     0% {
        //         -webkit-transform: translateX(var(--slide));
        //         transform: translateX(var(--slide));
        //     }
        //     100% {
        //         -webkit-transform: translateX(0);
        //         transform: translateX(0);
        //     }
        // }

        // @keyframes slide-rev {
        //     0% {
        //         -webkit-transform: translateX(0);
        //         transform: translateX(0);
        //     }
        //     100% {
        //         -webkit-transform: translateX(var(--slide));
        //         transform: translateX(var(--slide));
        //     }
        //     //var(--slide_rev);
        // }

        .nftCoinRow1 {
            margin-bottom: 12px;
        }

        .coin {
            display: flex;
            min-width: 180px;
            height: 180px;
            background-color: white;
            border-radius: 100%;
            margin: 0 11px;

            img {
                height: 100%;
                width: 100%;
                transform: scale(1.1);
            }
        }
    }

    @media (max-width: 1260px) {
        .stat {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                font-size: 8.93px;
            }
            h1 {
                font-size: 59.51px;
            }
            h4 {
                font-size: 15.87px;
            }
        }

        .nftSlider {
            .coin {
                min-width: 120px;
                height: 120px;
                margin: 0 6px;
            }
        }
    }

    @media (max-width: 750px) {
        .stat {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 5vw;
            p {
                font-size: 5.18px;
            }
            h1 {
                font-size: 34.5186px;
            }
            h4 {
                font-size: 9.2px;
            }
        }

        .statRow {
            display: flex;
            margin-top: 80px;
        }
    }
}

.nftSlider {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    .coin {
        min-width: 100px;
        height: 100px;
        margin: 0 6px;
    }
    .slidernav {
        display: flex;
        width: 50%;
        height: 1rem;
        margin: 0 auto;
        margin-bottom: 30px;
        justify-content: space-evenly;
        span {
            cursor: pointer;
            display: flex;
            width: 30%;
            height: 10px;
            background-color: rgba(255, 255, 255, 0.233);
            border-radius: 15px;
        }
    }
}

.sec3 {
    margin-top: 174px;
    display: flex;
    justify-content: center;

    .leftHero {
        height: 717px;
        margin-left: -22%;
    }

    .sec3text {
        margin-top: 20px;
        color: var(--primary);
        h1 {
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 1.5px;
        }
        p {
            font-size: 20px;
            width: 438px;
            margin-top: 20px;
            font-weight: 300;
            letter-spacing: 1px;
        }

        .heading2 {
            margin-top: 70px;
        }
    }
    @media (max-width: 1420px) {
        .leftHero {
            height: 45vw;
            margin-left: -38%;
        }
    }
    @media (max-width: 1260px) {
        height: 420.8px;
        margin-top: 100px;

        .leftHero {
            height: 420.8px;
            margin-left: -38%;
        }
        .sec3text {
            margin-top: 40px;
            color: var(--primary);
            h1 {
                font-size: 14px;
            }
            p {
                font-size: 12px;
                width: 241px;
                margin-top: 20px;
            }

            .heading2 {
                margin-top: 25px;
            }
        }
    }

    @media (max-width: 750px) {
        height: 400px;
        margin-top: 150px;
        flex-direction: column;
        flex-flow: column-reverse;

        .leftHero {
            height: 444px;
            margin-top: 0;
            object-fit: cover;
        }
        .sec3text {
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
            color: var(--primary);
            h1 {
                font-size: 14px;
            }
            p {
                font-size: 12px;
                width: 283px;
                margin: 0 auto;
                margin-top: 25px;
            }

            .heading2 {
                margin-top: 25px;
            }
        }
    }
}

.sec4 {
    padding-top: 5rem;
    background: #210e3e;
    display: flex;
    width: 100%;
    // height: 200vh;
    flex-direction: column;
    align-items: center;
    color: white;

    .cardCon {
        display: flex;
        align-items: center;
        height: 586px;
        margin-bottom: 100px;

        .card {
            transition: all 0.5s ease-in-out;
            display: flex;
            flex-direction: column;
            width: 375px;
            height: 427px;
            margin: 0 28px;
            border-radius: 16px;
            justify-content: space-between;
            padding-bottom: 60px;
            cursor: pointer;
            overflow-y: hidden;
            position: relative;
            padding-top: 280px;

            img {
                width: 100%;
                object-fit: cover;
                margin: 0 auto;
                margin-top: 60px;
                margin-bottom: 60px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }

            h1 {
                margin-top: 0;
                font-size: 50px;
                font-family: "Bebas Neue", cursive;
                font-weight: 400;
                margin-bottom: 1rem;
                letter-spacing: 2px;
            }

            p {
                letter-spacing: 1px;
                font-size: 16px;
                font-weight: 300;
                margin-bottom: 0;
            }

            .text {
                margin-left: 40px;
                margin-right: 40px;
            }

            .underline {
                display: flex;
                width: 70px;
                height: 2.5px;
                border-radius: 100px;
                background-color: white;
            }

            .textBlock {
                transition: all 0.5s ease-in-out;
                display: block;
                opacity: 0;
            }
        }

        .blue {
            background: linear-gradient(180deg, #d2dcff 0%, #7b85c4 100%);
            box-shadow: inset 0px -10px 0px #4e589a;
            &:hover {
                transition: all 0.5s ease-in-out;
                height: 610.5px;

                .textBlock {
                    transition: all 0.5s ease-in-out;
                    opacity: 1;
                }
            }
        }

        .green {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
                linear-gradient(180deg, #d2dcff 0%, #aed6c4 70.83%);
            box-shadow: inset 0px -10px 0px #408765;

            &:hover {
                transition: all 0.5s ease-in-out;
                height: 734.5px;

                .textBlock {
                    transition: all 0.5s ease-in-out;
                    opacity: 1;
                }
            }
        }

        .purple {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                linear-gradient(180deg, #d2dcff 0%, #553682 70.31%);
            box-shadow: inset 0px -10px 0px #553d77;

            img {
                object-fit: contain;
                top: -15px;
            }

            &:hover {
                transition: all 0.5s ease-in-out;
                height: 626.5px;

                .textBlock {
                    transition: all 0.5s ease-in-out;
                    opacity: 1;
                }
            }
        }
    }

    @media (max-width: 1260px) {
        .titleCon {
            p {
                margin-top: 0px;
            }
        }

        .cardCon {
            height: auto;

            .card {
                padding-top: 180px;
                padding-bottom: 33px;
                width: 198.12px;
                height: 230px;
                // max-height: 340px;
                .textBlock {
                    opacity: 0;
                }
                .text {
                    margin-left: 30px;
                    margin-right: 30px;
                }

                img {
                    margin-top: 30px;
                }

                h1 {
                    margin-top: -30px;
                    margin-bottom: 0.4rem;
                    font-size: 27.5168px;
                }

                p {
                    letter-spacing: 1px;
                    font-weight: 300;
                    margin-bottom: 0;
                    font-size: 8.80537px;
                }
            }
            .blue {
                &:hover {
                    transition: all 0.5s ease-in-out;
                    height: 338.281px;

                    .textBlock {
                        transition: all 0.5s ease-in-out;
                        opacity: 1;
                    }
                }
            }

            .green {
                &:hover {
                    transition: all 0.5s ease-in-out;
                    height: 427.875px;

                    .textBlock {
                        transition: all 0.5s ease-in-out;
                        opacity: 1;
                    }
                }
            }

            .purple {
                &:hover {
                    transition: all 0.5s ease-in-out;
                    height: 359.078px;

                    .textBlock {
                        transition: all 0.5s ease-in-out;
                        opacity: 1;
                    }
                }
            }
        }
    }

    @media (max-width: 750px) {
        .titleCon {
            margin-top: 120px;
            h1 {
                margin-top: 0px;
                font-size: 51.7647px;
            }
            p {
                margin-top: 86px;
            }
        }

        .cardCon {
            flex-direction: column;
            height: auto;
            .card {
                width: 284.44px;
                height: 290.86px;
               // max-height: 420px;
                margin-bottom: 25px;
                padding-top: 210px;

                // .textBlock{
                //     opacity: 1;
                // }
                .text {
                    margin-left: 30px;
                    margin-right: 30px;
                }

                img {
                    margin-top: 30px;
                }

                h1 {
                    margin-top: -30px;
                    margin-bottom: 0.4rem;
                    font-size: 39.4444px;
                }

                p {
                    letter-spacing: 1px;
                    font-weight: 300;
                    margin-bottom: 0;
                    font-size: 12px;
                }
            }

            .blue {
                &:hover {
                    transition: all 0.5s ease-in-out;
                    height: 410.891px;

                    .textBlock {
                        transition: all 0.5s ease-in-out;
                        opacity: 1;
                    }
                }
            }

            .green {
                &:hover {
                    transition: all 0.5s ease-in-out;
                    height: 502.891px;

                    .textBlock {
                        transition: all 0.5s ease-in-out;
                        opacity: 1;
                    }
                }
            }

            .purple {
                &:hover {
                    transition: all 0.5s ease-in-out;
                    height: 439.891px;

                    .textBlock {
                        transition: all 0.5s ease-in-out;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.sec5 {
    display: flex;
    width: 100%;
    //height: 300vh;
    flex-direction: column;
    background: linear-gradient(173.9deg, #744a87 -14.2%, rgba(74, 52, 122, 0.22) 135.08%, #250d44 154.8%), #210e3e;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 130px;

    .roadmapContainer {
        width: 1070px;
        margin: 0 auto;
        position: relative;

        .roadmapLine {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: -65px;
            left: 72px;
            z-index: 100;

            .marker {
                display: flex;
                width: 25px;

                height: fit-content;
                .glow {
                    transform: scale(2.25);
                    object-fit: contain;
                    max-height: 25px;
                    min-height: 25px;
                    max-width: 25px;
                    min-width: 25px;
                }
                img {
                    width: 100%;
                    transform: scale(1.2);
                }

                .diamondMarker {
                    display: flex;
                    width: 18px;
                    height: 18px;
                    border: 4px solid white;
                    transform: rotate(45deg) translateX(3.2px) translateY(-2px);
                }
            }

            .sec {
                display: flex;
                height: 100px;
                width: 4px;
                background-color: white;
            }

            .topFade {
                height: 130px;
                background-color: transparent;
                img {
                    height: 100%;
                }
            }

            .s1 {
                height: 330px;
            }

            .s2 {
                height: 388px;
            }

            .s3 {
                height: 334px;
            }
        }
    }

    .roadmapCard {
        display: flex;
        width: 1070px;
        background: #321e50;
        // border: 3px solid #f6c477;
        box-sizing: border-box;
        border-radius: 16px;
        margin-bottom: 60px;
        padding: 60px 140px;
        flex-direction: column;

        h1 {
            font-family: Bebas Neue;
            font-style: normal;
            font-weight: normal;
            font-size: 28.7497px;
            color: #f4f1e9;
            letter-spacing: 1.2px;
            margin-top: 0;
            font-weight: 400;
        }

        ul {
            margin: 0;
            padding: 0;
            color: #f4f1e9;
            margin-left: 30px;
            li {
                font-family: primary-font;
                font-weight: 350;
                font-size: 20px;
                margin: 0;
                padding: 0;
                margin-top: 5px;
            }
        }

        &:hover {
            transition: all 0.3s ease-in;
            // outline: 3px solid #f6c477;
        }
    }

    .rm1 {
        height: 292px;
    }

    .rm2 {
        height: 346px;
    }

    .rm3 {
        height: 292px;
    }

    .rm4 {
        height: 319px;
        position: relative;
    }

    .float_greenfan {
        position: absolute;
        top: -5%;
        right: -13%;
        width: 553.81px;
        z-index: 500;
    }

    .float_sushi {
        position: absolute;
        top: -2%;
        left: -4%;
        width: 388px;
    }

    .float_f12 {
        position: absolute;
        top: 40%;
        z-index: 100;
        left: -4%;
        width: 25vw;

        @media (max-width: 1430px) {
            left: -10vw;
        }
    }

    .float_warrior {
        position: absolute;
        width: 373.27px;
        z-index: 100;
        right: -3%;
        bottom: 21%;
    }

    .float_shrimp {
        position: absolute;
        width: 339px;
        z-index: 100;
        left: -15%;
        bottom: -40%;
    }

    @media (max-width: 1260px) {
        .roadmapContainer {
            width: 647px;

            .roadmapLine {
                top: -45px;
                left: 72px;
                .topFade {
                    height: 110px;
                    background-color: transparent;
                    img {
                        height: 100%;
                    }
                }

                .s1 {
                    height: 384px;
                }

                .s2 {
                    height: 388px;
                }

                .s3 {
                    height: 388px;
                }
            }
        }

        .roadmapCard {
            width: 647px;
            height: max-content;
            height: 346px;
        }

        .float_greenfan {
            width: 453.81px;
            right: -25%;
        }

        .float_sushi {
            position: absolute;
            top: 50px;
            left: -4%;
            width: 226.34px;
        }

        .float_f12 {
            left: -10%;
            top: 43%;
            width: 203.93px;
        }

        .float_warrior {
            width: 246.12px;
            right: -50px;
        }

        .float_shrimp {
            width: 258.32px;
            bottom: -30%;
            left: -10%;
        }
    }

    @media (max-width: 750px) {
        .titleCon {
            h1 {
                font-size: 47.4px;
            }
        }

        .roadmapContainer {
            width: 350px;

            .roadmapLine {
                top: -12px;
                left: 42px;

                .s1 {
                    height: 412px;
                }

                .s2 {
                    height: 444px;
                }

                .s3 {
                    height: 415px;
                }
            }
        }

        .roadmapCard {
            width: 313px;
            height: 400px;
            margin: 0 auto;
            padding: 60px 0;
            padding-left: 75px;
            margin-top: 34px;

            h1 {
                font-family: Bebas Neue;
                font-style: normal;
                font-weight: normal;
                font-size: 28.7497px;
                color: #f4f1e9;
                letter-spacing: 1.2px;
                margin-top: 0;
                font-weight: 400;
            }

            ul {
                margin: 0;
                padding: 0;
                color: #f4f1e9;
                margin-left: 20px;
                li {
                    font-family: primary-font;
                    font-weight: 350;
                    font-size: 14px;
                    margin: 0;
                    padding: 0;
                    margin-top: 1.5px;
                    line-height: 200%;
                    width: 200px;
                }
            }
        }

        .rm1 {
            height: 400px;
        }

        .rm2 {
            height: 427px;
        }

        .rm3 {
            height: 32 0px;
        }

        .rm4 {
            height: 488px;
        }

        .float_greenfan {
            width: 453.81px;
            right: -240px;
            top: -8%;
        }

        .float_sushi {
            position: absolute;
            top: 50px;
            left: -120px;
            width: 206.34px;
        }

        .float_f12 {
            left: -60px;
            top: 50%;
            width: 143.39px;
        }

        .float_warrior {
            width: 201.44px;
            right: -80px;
        }

        .float_shrimp {
            width: 204.25px;
            bottom: -17%;
            left: -15%;
        }
    }
}

.sec6 {
    height: 566px;
    background: radial-gradient(60.59% 487.7% at 23.13% 27.47%, #818dc6 0%, #4b4ab9 96.7%);
    padding: 76px 179px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    h1 {
        font-weight: 900;
        font-size: 100px;
        font-family: primary-font;
        color: #f4f1e9;
        margin-bottom: 55px;
        margin-top: 0;
        width: fit-content;

        &::after {
            content: "";
            display: flex;
            width: 100%;
            height: 3.5px;
            margin-top: 40px;
            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 35%, rgba(9, 9, 121, 0) 100%);

            @media (max-width: 750px) {
                background: rgb(255, 255, 255);
            }
        }
    }

    .float_allIcons {
        position: absolute;
        height: 566px;
        right: 0;
        top: 0;
    }

    .socialIcons {
        z-index: 1000;
        img {
            height: 75px;
            margin: 0 15px;
            cursor: pointer;
        }
    }

    @media (max-width: 1260px) {
        padding: 78px 71px;
        height: 350px;

        h1 {
            font-size: 50.4334px;
            width: fit-content;
            margin-bottom: 25px;
            &::after {
                margin-top: 20px;
                margin-left: 5px;
            }
        }

        .socialIcons {
            img {
                height: 42.06px;
            }
            margin-left: -10px;
        }

        .float_allIcons {
            height: 350px;
        }
    }

    @media (max-width: 750px) {
        padding: 78px auto;
        height: 540px;

        h1 {
            font-size: 50.4334px;
            width: fit-content;
            margin: 0 auto !important;
            margin-bottom: 25px !important;
            text-align: center;
            &::after {
                margin-top: 20px;
                background-color: #ffffff;
                margin-left: 0 !important;
            }
        }

        .socialIcons {
            display: flex;
            justify-content: space-evenly;
            img {
                height: 42.06px;
            }
            margin: 0 auto !important;
        }

        .float_allIcons {
            top: 50%;
            right: -22%;
            height: 480px;
        }
    }
}

.sec7 {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 1199px;
    background: radial-gradient(44.26% 44.87% at 50% 58.78%, rgba(202, 133, 175, 0.5) 0%, rgba(57, 35, 91, 0.5) 100%),
        linear-gradient(180deg, #210e3e 0%, #351f67 100%);
    align-items: center;
    overflow: hidden;

    .titleCon {
        h1 {
            margin-bottom: 30px;
        }
    }

    .sec7Subtext {
        font-weight: 300;
        font-size: 20px;
        color: #f4f1e9;
        width: 427px;
        text-align: center;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 60px;
    }

    .teamrow {
        display: grid;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 100px;
        span {
            display: flex;
            flex-direction: column;
            width: 210px;
            height: 288px;
            background: #f4f1e9;
            border-radius: 16px;
            margin: 20px 15px;
            align-items: center;
            justify-content: space-evenly;
            padding: 12px 0px;
            box-sizing: border-box;
            cursor: pointer;
            img {
                width: 90.5%;
                margin: 0 auto;
            }
            h1,
            p {
                margin: 0;
                font-size: 18px;
                text-transform: uppercase;
            }
            h1 {
                font-size: 28px;
                font-family: proxima;
            }
        }
    }

    @media (max-width: 1260px) {
        .teamrow {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "a b c d"
                "f g h i"
                "k l m n";

            span {
                width: 142.07px;
                height: 200.84px;
                padding: 5px 5px;
                img {
                    width: 90.5%;
                    margin: 0 auto;
                }
                h1,
                p {
                    margin: 0;
                    font-weight: 400;
                    font-size: 12.1818px;
                }
                h1 {
                    font-family: proxima;
                    font-size: 24px;
                    text-align: center;
                    line-height: 85%;
                }
            }
        }
    }

    @media (max-width: 750px) {
        height: auto;
        .titleCon {
            p {
                margin-top: 80px;
            }
            h1 {
                margin-bottom: 30px;
            }
        }

        .sec7Subtext {
            font-size: 14px;
            width: 245px;
        }

        .teamrow {
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "a b"
                "c d"
                "e f"
                "g h"
                "i j";
        }
    }
}

.sec8 {
    display: flex;
    min-height: 815px;
    width: 100%;
    background: #210e3e;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .title {
        font-weight: 900;
        font-size: 110px;
        margin: 0 auto;
        margin-top: 130px;
        color: #cfd8f9;
    }

    .questions {
        margin-top: 40px;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: min-content min-content min-content min-content min-content;
        display: flex;
        width: auto;
        flex-wrap: wrap;
        .qn {
            margin: 30px 35px;
            width: 548px;
            min-height: 50px;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.1);
            position: relative;
            cursor: pointer;
            h1 {
                font-size: 18px;
                color: #bac8fa;
                font-weight: 350;
                padding: 12px 24px;
                padding-top: 15px;
                margin: 0;
            }

            p {
                margin: 0;
                padding: 9px 24px;
                color: #ffffff;
                font-weight: 300;
                padding-top: 2px;
                margin-bottom: 10px;
                animation: opa 0.3s ease-in-out forwards;
            }

            .arrow {
                position: absolute;
                right: 21px;
                top: 10px;
                display: flex;
                mask-repeat: no-repeat;
                margin-top: 6px;
                width: 20px;
                height: 18px;
                background-color: rgb(255, 255, 255);
                -webkit-mask-image: url("./angle-down-solid.svg");
                mask-image: url("./angle-down-solid.svg");
                transform: rotate(0deg);
                transition: all 0.3s ease-in-out;
            }

            .rotate {
                transition: all 0.3s ease-in-out;
                transform: rotate(180deg);
                // border: 1px solid red;
            }
        }
    }

    @media (max-width: 1260px) {
        padding-bottom: 100px;
        .questions {
            margin: 0 auto;
            width: min-content;
        }

        .c2 {
            margin-top: -30px;
        }

        .title {
            margin-top: 70px;
        }
    }

    @media (max-width: 750px) {
        .title {
            font-size: 67.4px;
        }
        .questions {
            .qn {
                min-height: 48px;
                width: 282px;
                h1 {
                    font-size: 12px;
                    padding: 16px 24px;
                    width: 211px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
}

.footer {
    display: flex;
    width: 100%;
    height: 347px;
    position: relative;
    background: linear-gradient(128.76deg, rgba(41, 21, 78, 0) -26.98%, rgba(53, 31, 103, 0.22) -6.69%, #66417e 131.67%),
        #210e3e;
    flex-direction: column;

    img {
        width: 385px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 79px;
    }

    p {
        color: #cfd8f9;
        font-size: 18px;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
        font-weight: 350;
        margin-top: 163px;
    }

    @media (max-width: 750px) {
        height: 299px;
        img {
            width: 229px;
        }
    }
}

.iconsFooter {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: var(--primary);
    width: 200px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
    li {
        padding: 0;
        margin: 0;
    }

    img {
        width: 38px;
        position: relative;
        cursor: pointer;
    }
}

.titleCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f4f1e9;

    p {
        font-size: 18px;
        font-weight: 900;
        margin: 0;
        margin-top: 130px;
        color: #f7d9a6;
    }

    h1 {
        font-weight: 900;
        font-size: 110px;
        margin-top: 0;
    }

    @media (max-width: 1260px) {
        p {
            font-size: 16px;
            margin-bottom: 30px;
        }
        h1 {
            font-size: 76px;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opa {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
